---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import Container from "@/components/ui/Container.astro";
import Link from "@/components/ui/Link.astro";
import Icon from "@/components/ui/Icon.astro";
export const prerender = true;

const info = {
	title: "¿En construcción?",
	description:
		"Estoy creando algo increíble para ti, por eso necesito un poco más de tiempo. ¡Vuelve pronto y descubre las novedades!",
};
const routes = [{ href: "/", label: "Volver al inicio" }];
const icons = [
	{
		src: "/icons/illustrations/highlights/coffee.svg",
	},
];
---

<PortfolioLayout title="Construyendo Lúmina">
	<main
		class="h-screen grid place-items-center px-6 text-center bg-[var(--bg-page)] m-0 p-56 gap-[14px]"
	>
		<Container class="flex-col-center-6">
			<Icon src={icons[0].src} size="lg" />
			<h1 class="text-[36px] font-bold text-[var(--brand-blue)]">
				{info.title}
			</h1>
			<p class="text-[var(--text-primary)] opacity-90 max-w-[30rem]">
				{info.description}
			</p>
			<Link href={routes[0].href} rel="noopener">{routes[0].label}</Link>
		</Container>
	</main>
</PortfolioLayout>
