---
import Icon from "@/components/ui/Icon.astro";
import Link from "@/components/ui/Link.astro";
const { data } = Astro.props;
---

<header
	class="flex flex-col gap-5 items-center justify-center h-[350px] bg-gradient-to-b from-[var(--brand-blue)] to-[var(--bg-page)] rounded-lg px-6"
>
	<div class="flex flex-col items-center">
		{
			data.subtitle && (
				<p class="text-body-xl font-bold text-[var(--border-base)]">
					{data.subtitle}
				</p>
			)
		}
		<h1 class="heading-1 text-[var(--text-primary)]">{data.title}</h1>
	</div>
	<p class="text-[var(--text-primary)] text-center">{data.briefText}</p>
	<div
		class="flex flex-col items-center gap-3 flex-wrap justify-end lg:justify-start"
	>
		<div class="flex items-center gap-2">
			{
				data.links?.github && (
					<Link
						href={data.links.github}
						target="_blank"
						rel="noopener"
						class="inline-flex items-center justify-center w-11 h-11 rounded-md text-[var(--accent-link)] hover:bg-[var(--accent-link)]/10"
					>
						<Icon src="/icons/social/github.svg" size="md" />
					</Link>
				)
			}
			{
				data.links?.demo && (
					<Link
						href={data.links.demo}
						target="_blank"
						rel="noopener"
						class="inline-flex items-center justify-center w-11 h-11 rounded-md text-[var(--accent-link)] hover:bg-[var(--accent-link)]/10"
					>
						<Icon src="/icons/ui/see-demo.svg" size="md" />
					</Link>
				)
			}
		</div>
		<Link
			href="#more"
			class="text-[var(--accent-link)] hover:bg-[var(--accent-link)]/10"
			>Saber más</Link
		>
	</div>
</header>
