---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/projects/Hero.astro";
import MVP from "../../components/projects/MVP.astro";
import Brief from "../../components/projects/Brief.astro";
import Results from "../../components/projects/Results.astro";
import Grid from "../../components/projects/Grid.astro";
import CtaContact from "../../components/home/CtaContact.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("projects");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
  }));
}

const { slug } = Astro.params;
const entry = await getEntry("projects", slug);

if (!entry) {
  throw new Error("Proyecto no encontrado");
}

const { Content } = await entry.render();
const data = entry.data!;
const cover = data.summary?.cover;
const note  = data.summary?.note;
---

<BaseLayout title={`${data.title}`}>
  <section class="px-6 md:px[32px] pt-[80px] max-w-[80rem] mx-auto flex flex-col gap-6 mb-12">
    <Hero {data} />
    <div class="grid md:grid-cols-2 gap-5 max-w-[60rem] place-self-center items-center" id="more">
      <MVP {data} {cover} {note} />
      <Brief objective={data.objective} build={data.build} results={data.results} links={data.links} />
    </div>
    <Results learnings={data.learnings} />
    {data.images && <Grid data={data} />}
  </section>
  <CtaContact />
</BaseLayout>