---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/projects/Hero.astro";
import MVP from "../../components/projects/MVP.astro";
import Brief from "../../components/projects/Brief.astro";
import Results from "../../components/projects/Results.astro";
import Grid from "../../components/projects/Grid.astro";
import CtaContact from "../../components/home/CtaContact.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("projects");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
  }));
}

const { slug } = Astro.params;
const entry = await getEntry("projects", slug);

if (!entry) {
  throw new Error("Proyecto no encontrado");
}

const { Content } = await entry.render();
const data = entry.data!;
const cover = data.summary?.cover;
const note  = data.summary?.note;
---

<BaseLayout title={`${data.title}`}>
  <section class="px-6 md:px-8 pt-[80px] max-w-[80rem] mx-auto flex flex-col gap-6 mb-12">
    <Hero {data} />
    <MVP {data} {cover} {note} />
    <Brief objective={data.objective} build={data.build} />
    <Results data={data} />
    {data.images && <Grid images={data.images} />}

    <article class="prose prose-invert max-w-none" id="more">
      <Content />
    </article>

    <h2>Enlaces</h2>
    <p>
      Sitio web: <a href={data.links?.demo} target="_blank" rel="noopener noreferrer">{data.links?.demo}</a><br />
      Código: <a href={data.links?.github} target="_blank" rel="noopener noreferrer">{data.links?.github}</a>
    </p>
  </section>
  <CtaContact />
</BaseLayout>