---
import Icon from "./Icon.astro";

interface Props {
	href?: string;
	target?: "_blank" | "_self";
	rel?: string;
	download?: boolean | string;
	class?: string;
	type?: "button" | "submit" | "reset";
	icon: string;
	text: string;
}

const {
	href,
	target,
	rel,
	download,
	class: extra = "",
	type = "button",
	icon,
	text,
} = Astro.props;

const base = "btn-primary";

const iconSrc = `/icons/${icon}.svg`;
---

{
	href ? (
		<a
			href={href}
			target={target}
			rel={rel}
			download={download}
			class={`group ${base} ${extra}`}
		>
			<Icon
				src={iconSrc}
				size="md"
				class="group-hover:scale-110 group-hover:rotate-12 transition-transform duration-200"
			/>
			{text}
		</a>
	) : (
		<button type={type} class={`group ${base} ${extra}`}>
			<Icon
				src={iconSrc}
				size={type === "button" ? "md" : "sm"}
				class="group-hover:scale-110 group-hover:rotate-12 transition-transform duration-200"
			/>
			{text}
		</button>
	)
}
