---
interface Props {
	href?: string;
	selected?: boolean;
	class?: string;
}

const { href, class: extra = "" } = Astro.props;
const base = `chip`;
---

{
	href ? (
		<a href={href} class={`${base} ${extra}`}>
			<slot />
		</a>
	) : (
		<button type="button" class={`${base} ${extra}`}>
			<slot />
		</button>
	)
}
